.cf{position:fixed;background-color:#FFFFFFB3;width:fit-content;height:fit-content;max-width:200px;max-height:300px;overflow:auto;font-size:12px;color:red;}
.id{display:inline-block;}
input.id{height:auto;line-height:normal;}
